nav {
	height: 64px;
	width: 100%;
	position: fixed;
	z-index: 99;
	top: 0;
}
#post nav {
	background-color: #673AB7 !important;
} 
#index #post nav .title {
	color: #ffffff !important;
}
nav .title {
	color: #ffffff;
	line-height: 64px;
	margin-left: 10px;
	font-size: 18px;
}
#post nav {
	color: #ffffff !important;
}
nav .input-group-btn {
	display: inline-block;
	float: right;
	right: 100px;
	top: calc((64px - 35px) / 2);
	top: -moz-calc((64px - 35px) / 2);
	top: -webkit-calc((64px - 35px) / 2);
	top: -o-calc((64px - 35px) / 2);
}
nav .input-group-btn button {
	border-radius: 3px !important;
}

#wrapper-apps {
	margin-top: 64px;
}
.dropdown-menu-right {
    right: -90px;
}

#verify {
	position: absolute;
	z-index: 1;
}
#verify1 {
	position: absolute;
	top: 490px;
	left: 43px;
}
#verify2 {
	position: absolute;
	top: 122px;
	left: 75px;
}
#verify3 {
	position: absolute;
	top: 67px;
	left: 367px;
}


.space {
	width: 100%;
	height: 20px;
}
.padding-10 {padding: 10px;}

.padding-20 {padding: 20px;}

.padding-30 {padding: 30px;}

.mdl-snackbar {
	bottom: 10px;
}

@media (max-width: 479px) {
	.mdl-snackbar {
		margin-left: -1px;
	}
}

#index nav {
	background: #ffffff;
	color: #616161;
}
#index nav .title {
	color: #616161;
}
#index .section-form {
	height: 300px;
	background: #0288D1;
	color: #f7f7f7;
	padding: 40px 20px;
}
#index .section-form div h2 {
	color: #f7f7f7;
	font-weight: 300;
	margin-bottom: 20px;
}
#index .nyan-input {
	width: 100%;
	outline: none;
	border: none;
	border-radius: 3px;
	font-size: 15px;
	padding: 10px 10px 10px 20px;
	color: #616161;
}
#index .nyan-input:active, #index .nyan-input:focus  { 
	box-shadow: none !important;
}
#index .btn-go {
	padding: 7px 20px;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#index .btn-reset {
	padding: 7px 20px;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#index .flex-100 {
	width: 100%;
}
#index .icon-middle {
	display: flex;justify-content: center;flex-direction: column;padding: 38px 15px;
}
#index .footer {
	margin-top: 30px;
	background: #303c42 !important;
}
#index .footer-text p,
#index .footer-text h3,
#index .footer-text strong,
#index .footer-text div {
	color: #f7f7f7;
}
#post .footer {
	margin-top: 30px;
	background: #303c42 !important;
}
#post .footer-text p,
#post .footer-text h3,
#post .footer-text strong,
#post .footer-text div {
	color: #f7f7f7;
}
.title-artikel {
    line-height: 33px !important;
}

@media screen and (max-width:767px) {
	.card {margin-bottom: 0;}	
}

/* Icons Font */
.material-icons {color: #0288D1;}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-62 { font-size: 62px; }
